
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Creator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
  </head>
  <body>

    <header>
      <h1>Internet Creator v0.7.1_beta</h1>
    </header>

    <div class="logo-container">
      <img src="{{ url_for('static', filename='style/logo.svg') }}" alt="Logo">
    </div>

    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Topology</a></li>
        <li><a href="{{ url_for('creator') }}">Creator</a></li>
        <li><a href="{{ url_for('general') }}">General</a></li>
        <li><a href="{{ url_for('ping_test') }}">Ping Test</a></li>
        <li><a href="{{ url_for('sh_conf') }}">Router Infos</a></li>
      </ul>
    </nav>
    <main>
      <div class="wrapper0">
        <div>
          <h2 class="site-titel">Provider Creator</h2>
          <form method="post" class="form-container">
              <label for="Node">Node:</label>
              <input type="text" name="Node" value="{{ config.get('Node', '') }}">
              
              <label for="Provider">Provider:</label>
              <input type="text" name="Provider" value="{{ config.get('Provider', '') }}">
              
              <label for="Routers">Routers:</label>
              <input type="text" name="Routers" value="{{ config.get('Routers', '') }}">
              
              <label for="Limit">Limit:</label>
              <input type="text" name="Limit" value="{{ config.get('Limit', '') }}">
              
              <label for="Start Delay">Start Delay:</label>
              <input type="text" name="Start Delay" value="{{ config.get('Start Delay', '') }}">

              <div class="checkbox-label">
                <input type="checkbox" name="refresh_vyos_upgrade" id="refresh_vyos_upgrade" value="1"><br>
                <label for="refresh_vyos_upgrade">Refresh Vyos Upgrade Version</label>
              </div>
    
              <div class="checkbox-label">
                <input type="checkbox" name="Serial Mode" {% if config.get('Serial Mode', False) %} checked {% endif %}>
                <label for="Serial Mode">Serial Mode</label>
              </div>
            <button type="submit" name="provider">Create Provider</button>
          </form>
        </div>
            
        <div> 
          <h2 class="site-titel">Turbo Provider Creator</h2>
          <form method="post" class="form-container">
              <label for="Node">Node:</label>
              <input type="text" name="Node" value="{{ config.get('Node', '') }}">
              
              <label for="Provider">Provider:</label>
              <input type="text" name="Provider" value="{{ config.get('Provider', '') }}">
              
              <label for="Routers">Routers:</label>
              <input type="text" name="Routers" value="{{ config.get('Routers', '') }}">
              
              <label for="Limit">Limit:</label>
              <input type="text" name="Limit" value="{{ config.get('Limit', '') }}">
    
              <div class="checkbox-label">
                <input type="checkbox" name="refresh_vyos_upgrade" id="refresh_vyos_upgrade" value="1"><br>
                <label for="refresh_vyos_upgrade">Refresh Vyos Upgrade Version</label>
              </div>
            <button type="submit" name="provider_turbo">Create Provider Turbo</button>
          </form>
        </div>
           
        <div>
          <h2 class="site-titel">Single Router Creator</h2>
          <form method="post" class="form-container">
              <label for="Node">Node:</label>
              <input type="text" name="Node" value="{{ config.get('Node', '') }}"><br>
              
              <label for="Provider">Provider:</label>
              <input type="text" name="Provider" value="{{ config.get('Provider', '') }}"><br>
              
              <label for="Router">Router:</label>
              <input type="text" name="Router" value="{{ config.get('Router', '') }}"><br>
    
              <div class="checkbox-label">
                <input type="checkbox" name="refresh_vyos_upgrade" id="refresh_vyos_upgrade" value="1"><br>
                <label for="refresh_vyos_upgrade">Refresh Vyos Upgrade Version</label>
              </div>
            <button type="submit" name="single_router">Create Single Router</button>
          </form>
        </div>
      </div> 
    </main>

    <footer>
      <p></p>
    </footer>
  </body>
</html>
